In [4]:
# import dependencies
import pandas as pd
from path import Path 
import numpy as np 
import os
from random import randint

In [5]:
def get_sql_table_schema(data, table_name):
    data = data.copy()
    
    print(f'CREATE TABLE {table_name} (')

    for col in data.columns:
        if data[col].dtypes == 'int64':
            sql_dtype = 'INTEGER'
        elif data[col].dtypes == 'float64':
            sql_dtype = 'NUMERIC'
        else: 
            sql_dtype =  'VARCHAR'
        
        print(f'{col} {sql_dtype},')
    
    print(')')

In [7]:
# raw_data
raw_data_path = Path('./data/raw_data.csv')
raw_df = pd.read_csv(raw_data_path, low_memory=False)

# numeric_database
num_path = Path('./data/numeric_database.csv')
numeric_df = pd.read_csv(num_path, low_memory=False)

#loan_info 
loan_info_path = Path('./data/loan_info_database.csv')
loan_info_df = pd.read_csv(loan_info_path, low_memory=False)

#demographics_
demographics_path = Path('./data/demographics_database.csv')
demographics_df = pd.read_csv(demographics_path, low_memory=False)

#name_num
name_num_path = Path('./data/name_number_table.csv')
name_number_df = pd.read_csv(name_num_path, low_memory=False)

In [8]:
get_sql_table_schema(data=raw_df, table_name='raw_data')

CREATE TABLE raw_data (
as_of_year INTEGER,
respondent_id VARCHAR,
agency_name VARCHAR,
agency_abbr VARCHAR,
agency_code INTEGER,
loan_type_name VARCHAR,
loan_type INTEGER,
property_type_name VARCHAR,
property_type INTEGER,
loan_purpose_name VARCHAR,
loan_purpose INTEGER,
owner_occupancy_name VARCHAR,
owner_occupancy INTEGER,
loan_amount_000s NUMERIC,
preapproval_name VARCHAR,
preapproval INTEGER,
action_taken_name VARCHAR,
action_taken INTEGER,
msamd_name VARCHAR,
msamd NUMERIC,
state_name VARCHAR,
state_abbr VARCHAR,
state_code INTEGER,
county_name VARCHAR,
county_code NUMERIC,
census_tract_number NUMERIC,
applicant_ethnicity_name VARCHAR,
applicant_ethnicity INTEGER,
co_applicant_ethnicity_name VARCHAR,
co_applicant_ethnicity INTEGER,
applicant_race_name_1 VARCHAR,
applicant_race_1 INTEGER,
applicant_race_name_2 VARCHAR,
applicant_race_2 NUMERIC,
applicant_race_name_3 VARCHAR,
applicant_race_3 NUMERIC,
applicant_race_name_4 VARCHAR,
applicant_race_4 NUMERIC,
applicant_race_name_5 VARCHAR,
applicant_race_5 NUMERIC,
co_applicant_race_name_1 VARCHAR,
co_applicant_race_1 INTEGER,
co_applicant_race_name_2 VARCHAR,
co_applicant_race_2 NUMERIC,
co_applicant_race_name_3 VARCHAR,
co_applicant_race_3 NUMERIC,
co_applicant_race_name_4 VARCHAR,
co_applicant_race_4 NUMERIC,
co_applicant_race_name_5 VARCHAR,
co_applicant_race_5 NUMERIC,
applicant_sex_name VARCHAR,
applicant_sex INTEGER,
co_applicant_sex_name VARCHAR,
co_applicant_sex INTEGER,
applicant_income_000s NUMERIC,
purchaser_type_name VARCHAR,
purchaser_type INTEGER,
denial_reason_name_1 VARCHAR,
denial_reason_1 NUMERIC,
denial_reason_name_2 VARCHAR,
denial_reason_2 NUMERIC,
denial_reason_name_3 VARCHAR,
denial_reason_3 NUMERIC,
rate_spread NUMERIC,
hoepa_status_name VARCHAR,
hoepa_status INTEGER,
lien_status_name VARCHAR,
lien_status INTEGER,
edit_status_name VARCHAR,
edit_status INTEGER,
sequence_number INTEGER,
population NUMERIC,
minority_population NUMERIC,
hud_median_family_income NUMERIC,
tract_to_msamd_income NUMERIC,
number_of_owner_occupied_units NUMERIC,
number_of_1_to_4_family_units NUMERIC,
application_date_indicator NUMERIC,
)

In [9]:
get_sql_table_schema(data=numeric_df, table_name='numeric_data')

CREATE TABLE numeric_data (
sequence_number INTEGER,
population NUMERIC,
minority_population NUMERIC,
hud_median_family_income NUMERIC,
tract_to_msamd_income NUMERIC,
number_of_owner_occupied_units NUMERIC,
number_of_1_to_4_family_units NUMERIC,
applicant_sex INTEGER,
co_applicant_sex INTEGER,
applicant_ethnicity INTEGER,
co_applicant_ethnicity INTEGER,
applicant_race_1 INTEGER,
co_applicant_race_1 INTEGER,
loan_amount_000s NUMERIC,
applicant_income_000s NUMERIC,
loan_type INTEGER,
loan_purpose INTEGER,
purchaser_type INTEGER,
property_type INTEGER,
owner_occupancy INTEGER,
hoepa_status INTEGER,
county_code NUMERIC,
)

In [10]:
get_sql_table_schema(data=loan_info_df, table_name='loan_info_data')

CREATE TABLE loan_info_data (
sequence_number INTEGER,
loan_amount_000s NUMERIC,
applicant_income_000s NUMERIC,
loan_type INTEGER,
loan_purpose INTEGER,
purchaser_type INTEGER,
property_type INTEGER,
owner_occupancy INTEGER,
hoepa_status INTEGER,
county_code NUMERIC,
)

In [11]:
get_sql_table_schema(data=demographics_df, table_name='demographic_data')

CREATE TABLE demographic_data (
sequence_number INTEGER,
population NUMERIC,
minority_population NUMERIC,
hud_median_family_income NUMERIC,
tract_to_msamd_income NUMERIC,
number_of_owner_occupied_units NUMERIC,
number_of_1_to_4_family_units NUMERIC,
applicant_sex INTEGER,
co_applicant_sex INTEGER,
applicant_ethnicity INTEGER,
co_applicant_ethnicity INTEGER,
applicant_race_1 INTEGER,
co_applicant_race_1 INTEGER,
)

In [12]:
get_sql_table_schema(data=name_number_df, table_name='name_number_count')

CREATE TABLE name_number_count (
Unnamed: 0 INTEGER,
label_name VARCHAR,
label_number INTEGER,
label_count INTEGER,
column_name VARCHAR,
)