In [2]:
# import dependencies
import pandas as pd
from path import Path 
import numpy as np

In [3]:
# set path and load dataframe
path = Path('./data/hmda_2017_ca_all-records_labels.csv')
df = pd.read_csv(path)

C:\Users\jsrit\AppData\Local\Temp\ipykernel_20744\3571996716.py:3: DtypeWarning: Columns (34,36,38,42,44,46,48) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

In [4]:
df.head()

,as_of_year,respondent_id,agency_name,agency_abbr,agency_code,loan_type_name,loan_type,property_type_name,property_type,loan_purpose_name,...,edit_status_name,edit_status,sequence_number,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,application_date_indicator
0,2017,0000451965,Consumer Financial Protection Bureau,CFPB,9,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home improvement,...,NaN,NaN,NaN,4824.0,37.230000,75200.0,57.419998,818.0,1626.0,NaN
1,2017,0000146672,Consumer Financial Protection Bureau,CFPB,9,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home purchase,...,NaN,NaN,NaN,7404.0,57.520000,63200.0,116.010002,1215.0,1743.0,NaN
2,2017,0000451965,Consumer Financial Protection Bureau,CFPB,9,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home purchase,...,NaN,NaN,NaN,3372.0,33.189999,97400.0,141.740005,592.0,1105.0,NaN
3,2017,13-6131491,Department of Housing and Urban Development,HUD,7,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,NaN,NaN,NaN,8787.0,65.129997,97400.0,97.269997,1463.0,2164.0,NaN
4,2017,33-0419992,Department of Housing and Urban Development,HUD,7,FHA-insured,2,One-to-four family dwelling (other than manufa...,1,Refinancing,...,NaN,NaN,NaN,5356.0,23.100000,75200.0,126.690002,1711.0,2102.0,NaN

In [5]:
df.isna().sum()

as_of_year                              0
respondent_id                           0
agency_name                             0
agency_abbr                             0
agency_code                             0
                                   ...
hud_median_family_income             7461
tract_to_msamd_income                7461
number_of_owner_occupied_units       7461
number_of_1_to_4_family_units        7461
application_date_indicator        1714459
Length: 78, dtype: int64

In [6]:
df = df.dropna(how='all')
df.isna().sum()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1714459 entries, 0 to 1714458
Data columns (total 78 columns):
 #   Column                          Dtype
---  ------                          -----
 0   as_of_year                      int64
 1   respondent_id                   object
 2   agency_name                     object
 3   agency_abbr                     object
 4   agency_code                     int64
 5   loan_type_name                  object
 6   loan_type                       int64
 7   property_type_name              object
 8   property_type                   int64
 9   loan_purpose_name               object
 10  loan_purpose                    int64
 11  owner_occupancy_name            object
 12  owner_occupancy                 int64
 13  loan_amount_000s                float64
 14  preapproval_name                object
 15  preapproval                     int64
 16  action_taken_name               object
 17  action_taken                    int64
 18  msamd_name                      object
 19  msamd                           float64
 20  state_name                      object
 21  state_abbr                      object
 22  state_code                      int64
 23  county_name                     object
 24  county_code                     float64
 25  census_tract_number             float64
 26  applicant_ethnicity_name        object
 27  applicant_ethnicity             int64
 28  co_applicant_ethnicity_name     object
 29  co_applicant_ethnicity          int64
 30  applicant_race_name_1           object
 31  applicant_race_1                int64
 32  applicant_race_name_2           object
 33  applicant_race_2                float64
 34  applicant_race_name_3           object
 35  applicant_race_3                float64
 36  applicant_race_name_4           object
 37  applicant_race_4                float64
 38  applicant_race_name_5           object
 39  applicant_race_5                float64
 40  co_applicant_race_name_1        object
 41  co_applicant_race_1             int64
 42  co_applicant_race_name_2        object
 43  co_applicant_race_2             float64
 44  co_applicant_race_name_3        object
 45  co_applicant_race_3             float64
 46  co_applicant_race_name_4        object
 47  co_applicant_race_4             float64
 48  co_applicant_race_name_5        object
 49  co_applicant_race_5             float64
 50  applicant_sex_name              object
 51  applicant_sex                   int64
 52  co_applicant_sex_name           object
 53  co_applicant_sex                int64
 54  applicant_income_000s           float64
 55  purchaser_type_name             object
 56  purchaser_type                  int64
 57  denial_reason_name_1            object
 58  denial_reason_1                 float64
 59  denial_reason_name_2            object
 60  denial_reason_2                 float64
 61  denial_reason_name_3            object
 62  denial_reason_3                 float64
 63  rate_spread                     float64
 64  hoepa_status_name               object
 65  hoepa_status                    int64
 66  lien_status_name                object
 67  lien_status                     int64
 68  edit_status_name                float64
 69  edit_status                     float64
 70  sequence_number                 float64
 71  population                      float64
 72  minority_population             float64
 73  hud_median_family_income        float64
 74  tract_to_msamd_income           float64
 75  number_of_owner_occupied_units  float64
 76  number_of_1_to_4_family_units   float64
 77  application_date_indicator      float64
dtypes: float64(27), int64(18), object(33)
memory usage: 1020.3+ MB

In [7]:
df.columns

Index(['as_of_year', 'respondent_id', 'agency_name', 'agency_abbr',
       'agency_code', 'loan_type_name', 'loan_type', 'property_type_name',
       'property_type', 'loan_purpose_name', 'loan_purpose',
       'owner_occupancy_name', 'owner_occupancy', 'loan_amount_000s',
       'preapproval_name', 'preapproval', 'action_taken_name', 'action_taken',
       'msamd_name', 'msamd', 'state_name', 'state_abbr', 'state_code',
       'county_name', 'county_code', 'census_tract_number',
       'applicant_ethnicity_name', 'applicant_ethnicity',
       'co_applicant_ethnicity_name', 'co_applicant_ethnicity',
       'applicant_race_name_1', 'applicant_race_1', 'applicant_race_name_2',
       'applicant_race_2', 'applicant_race_name_3', 'applicant_race_3',
       'applicant_race_name_4', 'applicant_race_4', 'applicant_race_name_5',
       'applicant_race_5', 'co_applicant_race_name_1', 'co_applicant_race_1',
       'co_applicant_race_name_2', 'co_applicant_race_2',
       'co_applicant_race_name_3', 'co_applicant_race_3',
       'co_applicant_race_name_4', 'co_applicant_race_4',
       'co_applicant_race_name_5', 'co_applicant_race_5', 'applicant_sex_name',
       'applicant_sex', 'co_applicant_sex_name', 'co_applicant_sex',
       'applicant_income_000s', 'purchaser_type_name', 'purchaser_type',
       'denial_reason_name_1', 'denial_reason_1', 'denial_reason_name_2',
       'denial_reason_2', 'denial_reason_name_3', 'denial_reason_3',
       'rate_spread', 'hoepa_status_name', 'hoepa_status', 'lien_status_name',
       'lien_status', 'edit_status_name', 'edit_status', 'sequence_number',
       'population', 'minority_population', 'hud_median_family_income',
       'tract_to_msamd_income', 'number_of_owner_occupied_units',
       'number_of_1_to_4_family_units', 'application_date_indicator'],
      dtype='object')

In [8]:
df['agency_name'].unique()

array(['Consumer Financial Protection Bureau',
       'Department of Housing and Urban Development',
       'Office of the Comptroller of the Currency',
       'Federal Reserve System', 'National Credit Union Administration',
       'Federal Deposit Insurance Corporation'], dtype=object)

In [9]:
df['agency_code'].unique()

array([9, 7, 1, 2, 5, 3], dtype=int64)

In [10]:
df['loan_type'].unique()

array([1, 2, 3, 4], dtype=int64)

In [11]:
# define get_unique_values_df function to make a dataframe of each column and its unique values
def get_unique_values_df(df):

    # initialize unique_dict and unique_values_list
    unique_values_list = []

    # copy dataframe
    df = df.copy()

    # iterate through columns
    for column in df.columns:
        # extract unique values
        unique_values = df[column].unique()
        # append unique values from each column to unique_values_list
        unique_values_list.append(unique_values)

    # make a dataframe of column name and unique values 
    values_df = pd.DataFrame({'Column Name':[col for col in df.columns], 'Unique_Count': [len(item) for item in unique_values_list], 'Unique_Values': unique_values_list}) 

    # return dataframe
    return values_df

In [12]:
unique_values_df = get_unique_values_df(df)
unique_values_df.to_csv('./analysis/column_data.csv')

In [13]:
#first round of filtering data
columns_to_keep = ['agency_abbr','loan_type','property_type','loan_purpose','owner_occupancy','loan_amount_000s','preapproval','msamd','applicant_ethnicity','co_applicant_ethnicity','applicant_race_1','applicant_race_2','applicant_race_3','applicant_race_4','applicant_race_5','co_applicant_race_1','co_applicant_race_2','co_applicant_race_3','co_applicant_race_4','co_applicant_race_5','applicant_sex','co_applicant_sex','applicant_income_000s','purchaser_type','rate_spread','hoepa_status','lien_status','population','minority_population','hud_median_family_income','tract_to_msamd_income','number_of_owner_occupied_units','number_of_1_to_4_family_units']
condensed_df = df.loc[:, columns_to_keep]

In [14]:
condensed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1714459 entries, 0 to 1714458
Data columns (total 33 columns):
 #   Column                          Dtype
---  ------                          -----
 0   agency_abbr                     object
 1   loan_type                       int64
 2   property_type                   int64
 3   loan_purpose                    int64
 4   owner_occupancy                 int64
 5   loan_amount_000s                float64
 6   preapproval                     int64
 7   msamd                           float64
 8   applicant_ethnicity             int64
 9   co_applicant_ethnicity          int64
 10  applicant_race_1                int64
 11  applicant_race_2                float64
 12  applicant_race_3                float64
 13  applicant_race_4                float64
 14  applicant_race_5                float64
 15  co_applicant_race_1             int64
 16  co_applicant_race_2             float64
 17  co_applicant_race_3             float64
 18  co_applicant_race_4             float64
 19  co_applicant_race_5             float64
 20  applicant_sex                   int64
 21  co_applicant_sex                int64
 22  applicant_income_000s           float64
 23  purchaser_type                  int64
 24  rate_spread                     float64
 25  hoepa_status                    int64
 26  lien_status                     int64
 27  population                      float64
 28  minority_population             float64
 29  hud_median_family_income        float64
 30  tract_to_msamd_income           float64
 31  number_of_owner_occupied_units  float64
 32  number_of_1_to_4_family_units   float64
dtypes: float64(18), int64(14), object(1)
memory usage: 431.6+ MB

In [15]:
# since co/applicant_race_2 - 5 have 1.7 Million + null vallues, drop them from the list 
columns_to_keep_ml = ['loan_type','property_type','loan_purpose','owner_occupancy','loan_amount_000s','preapproval','msamd','applicant_ethnicity','co_applicant_ethnicity','applicant_race_1','co_applicant_race_1','applicant_sex','co_applicant_sex','applicant_income_000s','purchaser_type','lien_status','population','minority_population','hud_median_family_income','tract_to_msamd_income','number_of_owner_occupied_units','number_of_1_to_4_family_units']
ml_df = df.loc[:,columns_to_keep_ml]

In [16]:
# clean ml_df to remove other null values
ml_df = ml_df.dropna(how='any')
ml_df.isna().sum()
ml_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1477033 entries, 0 to 1712242
Data columns (total 22 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   loan_type                       1477033 non-null  int64
 1   property_type                   1477033 non-null  int64
 2   loan_purpose                    1477033 non-null  int64
 3   owner_occupancy                 1477033 non-null  int64
 4   loan_amount_000s                1477033 non-null  float64
 5   preapproval                     1477033 non-null  int64
 6   msamd                           1477033 non-null  float64
 7   applicant_ethnicity             1477033 non-null  int64
 8   co_applicant_ethnicity          1477033 non-null  int64
 9   applicant_race_1                1477033 non-null  int64
 10  co_applicant_race_1             1477033 non-null  int64
 11  applicant_sex                   1477033 non-null  int64
 12  co_applicant_sex                1477033 non-null  int64
 13  applicant_income_000s           1477033 non-null  float64
 14  purchaser_type                  1477033 non-null  int64
 15  lien_status                     1477033 non-null  int64
 16  population                      1477033 non-null  float64
 17  minority_population             1477033 non-null  float64
 18  hud_median_family_income        1477033 non-null  float64
 19  tract_to_msamd_income           1477033 non-null  float64
 20  number_of_owner_occupied_units  1477033 non-null  float64
 21  number_of_1_to_4_family_units   1477033 non-null  float64
dtypes: float64(9), int64(13)
memory usage: 259.2 MB

In [17]:
ml_df.to_csv('./analysis/ml_df.csv', index=False)

In [18]:
target_df = pd.DataFrame(df.loc[:,'action_taken'])
target_df.to_csv('./analysis/target_df.csv', index=False)
target_df.head()

   action_taken
0             3
1             3
2             1
3             3
4             2

In [26]:
df.action_taken_name.unique()
target_df.dtypes

action_taken    int64
dtype: object

In [25]:
# determine what each action_taken number corresponds to
action_taken_list = [1,2,3,4,5,6,7,8]

for item in action_taken_list:
    print(f'action_taken | {item} | { df.action_taken_name.loc[df.action_taken == item].unique()} | ')

action_taken | 1 | ['Loan originated'] |
action_taken | 2 | ['Application approved but not accepted'] |
action_taken | 3 | ['Application denied by financial institution'] |
action_taken | 4 | ['Application withdrawn by applicant'] |
action_taken | 5 | ['File closed for incompleteness'] |
action_taken | 6 | ['Loan purchased by the institution'] |
action_taken | 7 | ['Preapproval request denied by financial institution'] |
action_taken | 8 | ['Preapproval request approved but not accepted'] |

In [29]:

    

target_df.action_taken = target_df.action_taken.apply(action_taken_binary)
target_df.head()

   action_taken
0             1
1             1
2             0
3             1
4             1

In [30]:
target_df.to_csv('./analysis/target_df.csv', index=False)
target_df.head()

   action_taken
0             1
1             1
2             0
3             1
4             1

In [42]:
sml_columns = ['action_taken','loan_amount_000s', 'msamd','applicant_income_000s','population','minority_population','hud_median_family_income','tract_to_msamd_income','number_of_owner_occupied_units','number_of_1_to_4_family_units', 'loan_type_name', 'property_type_name', 'loan_purpose_name' ,'owner_occupancy_name' ,'preapproval_name', 'applicant_ethnicity_name','co_applicant_ethnicity_name','purchaser_type_name']

sml_df = df.loc[:, sml_columns]
sml_df.isna().sum()

action_taken                           0
loan_amount_000s                     945
msamd                              46529
applicant_income_000s             195886
population                          7461
minority_population                 7461
hud_median_family_income            7461
tract_to_msamd_income               7461
number_of_owner_occupied_units      7461
number_of_1_to_4_family_units       7461
loan_type_name                         0
property_type_name                     0
loan_purpose_name                      0
owner_occupancy_name                   0
preapproval_name                       0
applicant_ethnicity_name               0
co_applicant_ethnicity_name            0
purchaser_type_name                    0
dtype: int64

In [43]:
sml_df = sml_df.dropna(how='any')

In [45]:
sml_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1477033 entries, 0 to 1712242
Data columns (total 18 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   action_taken                    1477033 non-null  int64
 1   loan_amount_000s                1477033 non-null  float64
 2   msamd                           1477033 non-null  float64
 3   applicant_income_000s           1477033 non-null  float64
 4   population                      1477033 non-null  float64
 5   minority_population             1477033 non-null  float64
 6   hud_median_family_income        1477033 non-null  float64
 7   tract_to_msamd_income           1477033 non-null  float64
 8   number_of_owner_occupied_units  1477033 non-null  float64
 9   number_of_1_to_4_family_units   1477033 non-null  float64
 10  loan_type_name                  1477033 non-null  object
 11  property_type_name              1477033 non-null  object
 12  loan_purpose_name               1477033 non-null  object
 13  owner_occupancy_name            1477033 non-null  object
 14  preapproval_name                1477033 non-null  object
 15  applicant_ethnicity_name        1477033 non-null  object
 16  co_applicant_ethnicity_name     1477033 non-null  object
 17  purchaser_type_name             1477033 non-null  object
dtypes: float64(9), int64(1), object(8)
memory usage: 214.1+ MB

In [44]:
sml_df.to_csv('analysis/sml_df.csv', index=False)