In [1]:
# import dependencies
import pandas as pd
from path import Path 
import numpy as np 
import os
from random import randint

In [2]:
# set path and load dataframe
path = Path('./data/hmda_2017_ca_all-records_labels.csv')
df = pd.read_csv(path, low_memory=False)
df.head()

,as_of_year,respondent_id,agency_name,agency_abbr,agency_code,loan_type_name,loan_type,property_type_name,property_type,loan_purpose_name,...,edit_status_name,edit_status,sequence_number,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,application_date_indicator
0,2017,0000451965,Consumer Financial Protection Bureau,CFPB,9,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home improvement,...,NaN,NaN,NaN,4824.0,37.230000,75200.0,57.419998,818.0,1626.0,NaN
1,2017,0000146672,Consumer Financial Protection Bureau,CFPB,9,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home purchase,...,NaN,NaN,NaN,7404.0,57.520000,63200.0,116.010002,1215.0,1743.0,NaN
2,2017,0000451965,Consumer Financial Protection Bureau,CFPB,9,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home purchase,...,NaN,NaN,NaN,3372.0,33.189999,97400.0,141.740005,592.0,1105.0,NaN
3,2017,13-6131491,Department of Housing and Urban Development,HUD,7,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,NaN,NaN,NaN,8787.0,65.129997,97400.0,97.269997,1463.0,2164.0,NaN
4,2017,33-0419992,Department of Housing and Urban Development,HUD,7,FHA-insured,2,One-to-four family dwelling (other than manufa...,1,Refinancing,...,NaN,NaN,NaN,5356.0,23.100000,75200.0,126.690002,1711.0,2102.0,NaN

In [3]:
df = df.dropna(how='all')
df_info = df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1714459 entries, 0 to 1714458
Data columns (total 78 columns):
 #   Column                          Dtype
---  ------                          -----
 0   as_of_year                      int64
 1   respondent_id                   object
 2   agency_name                     object
 3   agency_abbr                     object
 4   agency_code                     int64
 5   loan_type_name                  object
 6   loan_type                       int64
 7   property_type_name              object
 8   property_type                   int64
 9   loan_purpose_name               object
 10  loan_purpose                    int64
 11  owner_occupancy_name            object
 12  owner_occupancy                 int64
 13  loan_amount_000s                float64
 14  preapproval_name                object
 15  preapproval                     int64
 16  action_taken_name               object
 17  action_taken                    int64
 18  msamd_name                      object
 19  msamd                           float64
 20  state_name                      object
 21  state_abbr                      object
 22  state_code                      int64
 23  county_name                     object
 24  county_code                     float64
 25  census_tract_number             float64
 26  applicant_ethnicity_name        object
 27  applicant_ethnicity             int64
 28  co_applicant_ethnicity_name     object
 29  co_applicant_ethnicity          int64
 30  applicant_race_name_1           object
 31  applicant_race_1                int64
 32  applicant_race_name_2           object
 33  applicant_race_2                float64
 34  applicant_race_name_3           object
 35  applicant_race_3                float64
 36  applicant_race_name_4           object
 37  applicant_race_4                float64
 38  applicant_race_name_5           object
 39  applicant_race_5                float64
 40  co_applicant_race_name_1        object
 41  co_applicant_race_1             int64
 42  co_applicant_race_name_2        object
 43  co_applicant_race_2             float64
 44  co_applicant_race_name_3        object
 45  co_applicant_race_3             float64
 46  co_applicant_race_name_4        object
 47  co_applicant_race_4             float64
 48  co_applicant_race_name_5        object
 49  co_applicant_race_5             float64
 50  applicant_sex_name              object
 51  applicant_sex                   int64
 52  co_applicant_sex_name           object
 53  co_applicant_sex                int64
 54  applicant_income_000s           float64
 55  purchaser_type_name             object
 56  purchaser_type                  int64
 57  denial_reason_name_1            object
 58  denial_reason_1                 float64
 59  denial_reason_name_2            object
 60  denial_reason_2                 float64
 61  denial_reason_name_3            object
 62  denial_reason_3                 float64
 63  rate_spread                     float64
 64  hoepa_status_name               object
 65  hoepa_status                    int64
 66  lien_status_name                object
 67  lien_status                     int64
 68  edit_status_name                float64
 69  edit_status                     float64
 70  sequence_number                 float64
 71  population                      float64
 72  minority_population             float64
 73  hud_median_family_income        float64
 74  tract_to_msamd_income           float64
 75  number_of_owner_occupied_units  float64
 76  number_of_1_to_4_family_units   float64
 77  application_date_indicator      float64
dtypes: float64(27), int64(18), object(33)
memory usage: 1020.3+ MB

In [4]:
df.duplicated().sum()

4957

In [5]:
df = df.drop_duplicates(ignore_index=True)
df.head()

,as_of_year,respondent_id,agency_name,agency_abbr,agency_code,loan_type_name,loan_type,property_type_name,property_type,loan_purpose_name,...,edit_status_name,edit_status,sequence_number,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,application_date_indicator
0,2017,0000451965,Consumer Financial Protection Bureau,CFPB,9,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home improvement,...,NaN,NaN,NaN,4824.0,37.230000,75200.0,57.419998,818.0,1626.0,NaN
1,2017,0000146672,Consumer Financial Protection Bureau,CFPB,9,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home purchase,...,NaN,NaN,NaN,7404.0,57.520000,63200.0,116.010002,1215.0,1743.0,NaN
2,2017,0000451965,Consumer Financial Protection Bureau,CFPB,9,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home purchase,...,NaN,NaN,NaN,3372.0,33.189999,97400.0,141.740005,592.0,1105.0,NaN
3,2017,13-6131491,Department of Housing and Urban Development,HUD,7,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,NaN,NaN,NaN,8787.0,65.129997,97400.0,97.269997,1463.0,2164.0,NaN
4,2017,33-0419992,Department of Housing and Urban Development,HUD,7,FHA-insured,2,One-to-four family dwelling (other than manufa...,1,Refinancing,...,NaN,NaN,NaN,5356.0,23.100000,75200.0,126.690002,1711.0,2102.0,NaN

In [6]:
row_count = len(df)
print(f'Row Count: {row_count}')

Row Count: 1709502

In [7]:
column_count = len(df.columns)
print(f'Column Count: {column_count}')

Column Count: 78

In [8]:
# df['sequence_number'] is currently left blank
print(f'Row Count: {row_count}')
print(f'sequence_number NA count: {df.sequence_number.isna().sum()}')

Row Count: 1709502
sequence_number NA count: 1709502

In [9]:
# define random_int function to generate a random ID number for each application, with some number of digits
def random_int(n):
    range_start = 10**(n-1)+1
    range_end = 10**(n)-1
    return randint(range_start, range_end)

In [10]:
def assign_id_num(member):
    member = random_int(12)
    return member

In [11]:
df['sequence_number'] = df['sequence_number'].apply(assign_id_num)
df['sequence_number'][:-5]

0          299322036995
1          750442599848
2          589059911788
3          757438893415
4          126735412706
               ...
1709492    913849789431
1709493    328224055396
1709494    126357387546
1709495    859799773018
1709496    747284793317
Name: sequence_number, Length: 1709497, dtype: int64

In [12]:
def check_processing_status(data):
    status_name = data['edit_status_name'].unique()
    status_level = data['edit_status'].unique()
    print(f'Status: {status_name} | Level {status_level}')

In [13]:
status_log_dict = {}

def update_status(data, dict, status, level):
    data.copy() 

    status = status
    level = int(level)

    dict[status] = [level]

    data['edit_status_name'] = status
    data['edit_status'] = level

    return data

In [14]:
status = 'import'
level = 0
df = update_status(df, status_log_dict, status, level)
status_log_dict

{'import': [0]}

In [15]:
status = 'preprocessing'
level = 1
df = update_status(df, status_log_dict, status, level)

In [16]:
# export prelimarily cleaned data
df.to_csv('./data/raw_data.csv', index=False, encoding='utf8')

In [17]:
# find out value counts for a few columns
df['lien_status_name'].value_counts()

Secured by a first lien          1410741
Not applicable                    232537
Secured by a subordinate lien      46872
Not secured by a lien              19352
Name: lien_status_name, dtype: int64

In [18]:
df.co_applicant_sex_name.value_counts()

No co-applicant                                                                      827046
Female                                                                               538535
Male                                                                                 140590
Not applicable                                                                       131337
Information not provided by applicant in mail, Internet, or telephone application     71994
Name: co_applicant_sex_name, dtype: int64

In [19]:
df.purchaser_type_name.value_counts()

Loan was not originated or was not sold in calendar year covered by register    889882
Fannie Mae (FNMA)                                                               257027
Freddie Mac (FHLMC)                                                             171704
Ginnie Mae (GNMA)                                                               157912
Commercial bank, savings bank or savings association                             89712
Life insurance company, credit union, mortgage bank, or finance company          82005
Other type of purchaser                                                          31732
Private securitization                                                           17192
Affiliate institution                                                            12301
Farmer Mac (FAMC)                                                                   35
Name: purchaser_type_name, dtype: int64

In [20]:
df['hoepa_status_name'].value_counts()

Not a HOEPA loan    1708993
HOEPA loan              509
Name: hoepa_status_name, dtype: int64

In [21]:
print(df['denial_reason_name_1'].value_counts())
print(df.denial_reason_name_1.count())

Debt-to-income ratio                              49027
Credit history                                    28323
Credit application incomplete                     22986
Collateral                                        19853
Other                                             14597
Unverifiable information                           9042
Insufficient cash (downpayment, closing costs)     4850
Employment history                                 1530
Mortgage insurance denied                            67
Name: denial_reason_name_1, dtype: int64
150275

In [22]:
# Define column_value_counts function to determine how data is organized 
def column_value_counts(data):

    data = data.copy()

    column_list = []
    value_counts_dict = {}

    # loop through columns in dataframe 
    for column in data.columns:

        # check if path exists, if not create it
        if not os.path.isdir(f'./eda/column_value_counts/{column}'):
            os.makedirs(f'./eda/column_value_counts/{column}')

        if 'edit_status' or 'sequence_number' not in column:
            # assign value_counts for column to col_vc
            col_vc = data[column].value_counts()
            # make a dataframe, vc_df, from col_vc; reset index values, reset column names, and sort
            vc_df = pd.DataFrame(col_vc.reset_index().values, columns=['Value','Count']).sort_index(axis=0, ascending=True)
            # export column value counts df to csv in column_value_counts folder
            vc_df.to_csv(f'./eda/column_value_counts/{column}/Value_Counts_{column}.csv', index=False)
            # set value_counts_dict {key: column, value: value counts df}
            value_counts_dict[column] = vc_df
            # append column name to column_list
            column_list.append(column)

    return column_list, value_counts_dict

In [23]:
column_list, value_counts_dict = column_value_counts(df)

In [24]:
value_counts_dict['lien_status']

   Value    Count
0      1  1410741
1      4   232537
2      2    46872
3      3    19352

In [25]:
value_counts_dict['purchaser_type_name']

                                               Value   Count
0  Loan was not originated or was not sold in cal...  889882
1                                  Fannie Mae (FNMA)  257027
2                                Freddie Mac (FHLMC)  171704
3                                  Ginnie Mae (GNMA)  157912
4  Commercial bank, savings bank or savings assoc...   89712
5  Life insurance company, credit union, mortgage...   82005
6                            Other type of purchaser   31732
7                             Private securitization   17192
8                              Affiliate institution   12301
9                                  Farmer Mac (FAMC)      35

In [26]:
def compile_value_counts_df(vc_dict):
    # initialize compiled value counts dataframe
    comp_vc_df = pd.DataFrame()

    # iterate through value counts dictionary to extract value counts data for each column
    for key in vc_dict.keys():
        # set vc_df to the key's corresponding value (eg. column's value count dataframe)
        vc_df = vc_dict[key]
        vc_df.sort_values(by=['Count'], ascending=False)
        # create new Column by the same name, with key's name inputed
        vc_df['Column'] = f'{key}'
        # concatenate vc_df with comp_vc_df
        comp_vc_df = pd.concat([comp_vc_df, vc_df], ignore_index=True, axis=0)
    #return comp_vc_df
    return comp_vc_df

In [27]:
vc_df = compile_value_counts_df(vc_dict=value_counts_dict)

In [28]:
print(len(vc_df))
vc_df = vc_df[['Column','Value','Count']]
vc_df.to_csv('./eda/columnar_value_counts.csv', index=False)
vc_df.head()

1747981

          Column       Value    Count
0     as_of_year        2017  1709502
1  respondent_id  0000451965   153445
2  respondent_id  0000852218    72384
3  respondent_id  7197000003    59888
4  respondent_id  0000480228    52812

In [29]:
vc_df_sorted = vc_df.sort_values(by=['Count'], ascending=False)

vc_df_sorted.to_csv('./eda/columnar_VC_high_low.csv', index=False)

In [30]:
vc_df_sorted.head()

                 Column          Value    Count
0            as_of_year           2017  1709502
6098         state_abbr             CA  1709502
6099         state_code              6  1709502
17793       edit_status              1  1709502
17792  edit_status_name  preprocessing  1709502

In [31]:
# define get_unique_values_df function to make a dataframe of each column and its unique values
def get_unique_values_df(df):

    # initialize unique_dict and unique_values_list
    unique_values_list = []

    # copy dataframe
    df = df.copy()

    # iterate through columns
    for column in df.columns:
        if 'edit_status' or 'sequence_number' not in column:
            # extract unique values
            unique_values = df[column].unique()
            # append unique values from each column to unique_values_list
            unique_values_list.append(unique_values)


    # make a dataframe of column name and unique values 
    values_df = pd.DataFrame({'Column Name':[col for col in df.columns if 'edit_status' or 'sequence_number' not in col], 'Unique_Count': [len(item) for item in unique_values_list], 'Unique_Values': unique_values_list}) 

    # return dataframe
    return values_df

In [32]:
unique_values_df = get_unique_values_df(df)
unique_values_df.to_csv('./eda/column_data.csv', index=False)

In [33]:
unique_values_df.head()

,Column Name,Unique_Count,Unique_Values
0,as_of_year,1,[2017]
1,respondent_id,1212,"[0000451965, 0000146672, 13-6131491, 33-041999..."
2,agency_name,6,"[Consumer Financial Protection Bureau, Departm..."
3,agency_abbr,6,"[CFPB, HUD, OCC, FRS, NCUA, FDIC]"
4,agency_code,6,"[9, 7, 1, 2, 5, 3]"

In [34]:
print('Done!')

Done!