In [1]:
# import dependencies
import pandas as pd
from path import Path 
import numpy as np 
import os

In [2]:
# set path and load dataframe
path = Path('./data/raw_data.csv')
df = pd.read_csv(path, low_memory=False)

In [3]:
# name_columns = [col for col in df.columns if '_name' in col]
# numeric_columns = [col.replace('_name', '') for col in name_columns]

In [4]:
name_columns = ['loan_type_name', 'property_type_name', 'loan_purpose_name', 'owner_occupancy_name', 'county_name', 'applicant_ethnicity_name', 'co_applicant_ethnicity_name', 'applicant_race_name_1', 'co_applicant_race_name_1', 'applicant_sex_name', 'co_applicant_sex_name', 'purchaser_type_name', 'hoepa_status_name']
numeric_columns = ['loan_type', 'property_type', 'loan_purpose', 'owner_occupancy', 'county_code', 'applicant_ethnicity', 'co_applicant_ethnicity', 'applicant_race_1', 'co_applicant_race_1',  'applicant_sex', 'co_applicant_sex',  'purchaser_type', 'hoepa_status']

In [5]:
name_num_columns = list(zip(name_columns,  numeric_columns))
name_num_columns

[('loan_type_name', 'loan_type'),
 ('property_type_name', 'property_type'),
 ('loan_purpose_name', 'loan_purpose'),
 ('owner_occupancy_name', 'owner_occupancy'),
 ('county_name', 'county_code'),
 ('applicant_ethnicity_name', 'applicant_ethnicity'),
 ('co_applicant_ethnicity_name', 'co_applicant_ethnicity'),
 ('applicant_race_name_1', 'applicant_race_1'),
 ('co_applicant_race_name_1', 'co_applicant_race_1'),
 ('applicant_sex_name', 'applicant_sex'),
 ('co_applicant_sex_name', 'co_applicant_sex'),
 ('purchaser_type_name', 'purchaser_type'),
 ('hoepa_status_name', 'hoepa_status')]

In [6]:
def get_name_num_values(data, column_list):
    data = data.copy()
    
    column_name_list = ['label_name','label_number','label_count','column_name']
    nn_df = pd.DataFrame()
    
    
    for col in column_list:
    
        unique_num = data[col[1]].unique()
        unique_name = []

        grouped_df = data.groupby([col[0] , col[1]]).size().reset_index(name='label_count').sort_values(col[1], ascending=True)
        grouped_df['column_name'] = f'{col[1]}'
        grouped_df.columns = column_name_list
        

        nn_df = pd.concat([nn_df, grouped_df], axis=0, ignore_index=True)

    nn_df = nn_df.astype({'label_number':'int', 'label_count':'int'})
    return nn_df

In [7]:
name_num_df = get_name_num_values(df, name_num_columns)

In [8]:
name_num_df.head(20)

,label_name,label_number,label_count,column_name
0,Conventional,1,1321170,loan_type
1,FHA-insured,2,254312,loan_type
2,VA-guaranteed,3,128719,loan_type
3,FSA/RHS-guaranteed,4,5301,loan_type
4,One-to-four family dwelling (other than manufa...,1,1667070,property_type
5,Manufactured housing,2,29796,property_type
6,Multifamily dwelling,3,12636,property_type
7,Home purchase,1,676589,loan_purpose
8,Home improvement,2,118031,loan_purpose
9,Refinancing,3,914882,loan_purpose
10,Owner-occupied as a principal dwelling,1,1501670,owner_occupancy
11,Not owner-occupied as a principal dwelling,2,193383,owner_occupancy
12,Not applicable,3,14449,owner_occupancy
13,Alameda County,1,69635,county_code
14,Alpine County,3,97,county_code
15,Amador County,5,2361,county_code
16,Butte County,7,9673,county_code
17,Calaveras County,9,3676,county_code
18,Colusa County,11,763,county_code
19,Contra Costa County,13,65272,county_code

In [11]:
name_num_df.to_csv('./data/name_number_table.csv', index=False)

In [12]:
print('Done!')

Done!