In [1]:
import pandas as pd
import numpy as np
from path import Path
import matplotlib.pyplot as plt

In [2]:
# import file_path and make dataframe

commodity_file_path = Path('./data/psd_coffee.csv')
commodity_df = pd.read_csv(commodity_file_path, index_col=0)
commodity_df.head()

,Commodity_Description,Country_Code,Country_Name,Market_Year,Calendar_Year,Month,Attribute_ID,Attribute_Description,Unit_ID,Unit_Description,Value
Commodity_Code,,,,,,,,,,,
711100,"Coffee, Green",AG,Algeria,2003,2012,6,29,Arabica Production,2,(1000 60 KG BAGS),0.0
711100,"Coffee, Green",AG,Algeria,2003,2012,6,90,Bean Exports,2,(1000 60 KG BAGS),0.0
711100,"Coffee, Green",AG,Algeria,2003,2012,6,58,Bean Imports,2,(1000 60 KG BAGS),1800.0
711100,"Coffee, Green",AG,Algeria,2003,2012,6,20,Beginning Stocks,2,(1000 60 KG BAGS),0.0
711100,"Coffee, Green",AG,Algeria,2003,2012,6,125,Domestic Consumption,2,(1000 60 KG BAGS),1805.0

In [3]:
# print dataframe columns

commodity_df.columns

Index(['Commodity_Description', 'Country_Code', 'Country_Name', 'Market_Year',
       'Calendar_Year', 'Month', 'Attribute_ID', 'Attribute_Description',
       'Unit_ID', 'Unit_Description', 'Value'],
      dtype='object')

In [4]:
# Check for blanks 
commodity_df.isna().sum()

Commodity_Description    0
Country_Code             0
Country_Name             0
Market_Year              0
Calendar_Year            0
Month                    0
Attribute_ID             0
Attribute_Description    0
Unit_ID                  0
Unit_Description         0
Value                    0
dtype: int64

In [5]:
#  Check for duplicates
commodity_df.duplicated().sum()

0

In [6]:
# Drop NaNs and check isna() again
commodity_df.dropna()
commodity_df.isna().sum()

Commodity_Description    0
Country_Code             0
Country_Name             0
Market_Year              0
Calendar_Year            0
Month                    0
Attribute_ID             0
Attribute_Description    0
Unit_ID                  0
Unit_Description         0
Value                    0
dtype: int64

In [7]:
# get row count and datatype info on community df
commodity_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77957 entries, 711100 to 711100
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Commodity_Description  77957 non-null  object
 1   Country_Code           77957 non-null  object
 2   Country_Name           77957 non-null  object
 3   Market_Year            77957 non-null  int64
 4   Calendar_Year          77957 non-null  int64
 5   Month                  77957 non-null  int64
 6   Attribute_ID           77957 non-null  int64
 7   Attribute_Description  77957 non-null  object
 8   Unit_ID                77957 non-null  int64
 9   Unit_Description       77957 non-null  object
 10  Value                  77957 non-null  float64
dtypes: float64(1), int64(5), object(5)
memory usage: 7.1+ MB

In [50]:
# define get_unique_values_df function to make a dataframe of each column and its unique values
def get_unique_values_df(df):

    # initialize unique_dict and unique_values_list
    unique_values_list = []

    # copy dataframe
    df = df.copy()

    # iterate through columns
    for column in df.columns:
        # extract unique values
        unique_values = df[column].unique()
        # append unique values from each column to unique_values_list
        unique_values_list.append(unique_values)

    # make a dataframe of column name and unique values 
    values_df = pd.DataFrame({'Column Name':[col for col in df.columns], 'Unique_Values': unique_values_list, 'Unique_Count': [len(item) for item in unique_values_list]}) 

    # return dataframe
    return values_df

In [35]:
unique_values_df = get_unique_values_df(commodity_df)
unique_values_df.head(10)

             Column Name                                      Unique_Values
0  Commodity_Description                                    [Coffee, Green]
1           Country_Code  [AG, AO, AR, AS, DM, BL, BR, BY, CM, CA, CT, C...
2           Country_Name  [Algeria, Angola, Argentina, Australia, Benin,...
3            Market_Year  [2003, 2004, 2005, 2006, 2007, 2008, 2009, 201...
4          Calendar_Year  [2012, 2015, 2014, 2016, 2017, 2018, 2020, 202...
5                  Month                                         [6, 12, 0]
6           Attribute_ID  [29, 90, 58, 20, 125, 176, 88, 57, 56, 28, 107...
7  Attribute_Description  [Arabica Production, Bean Exports, Bean Import...
8                Unit_ID                                                [2]
9       Unit_Description                                [(1000 60 KG BAGS)]

In [36]:
# define function to get unique values from input column
def get_unique_values(member):
    # extract unique values from input column
    unique_values = member.unique()
    # print the number of unique values
    print(len(unique_values))
    # print unique values
    print(unique_values)

    #return unique values
    return unique_values

In [37]:
country_unique = get_unique_values(commodity_df['Country_Name'])

85
['Algeria' 'Angola' 'Argentina' 'Australia' 'Benin' 'Bolivia' 'Brazil'
 'Burundi' 'Cameroon' 'Canada' 'Central African Republic' 'Chile' 'China'
 'Colombia' 'Congo (Brazzaville)' 'Congo (Kinshasa)' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cuba' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Ethiopia' 'European Union' 'Gabon'
 'Ghana' 'Guatemala' 'Guinea' 'Guyana' 'Haiti' 'Honduras' 'India'
 'Indonesia' 'Iran' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya'
 'Korea, South' 'Laos' 'Liberia' 'Madagascar' 'Malawi' 'Malaysia' 'Mexico'
 'Morocco' 'New Caledonia' 'New Zealand' 'Nicaragua' 'Nigeria' 'Norway'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Russia'
 'Rwanda' 'Saudi Arabia' 'Serbia' 'Sierra Leone' 'Singapore'
 'South Africa' 'Sri Lanka' 'Switzerland' 'Taiwan' 'Tanzania' 'Thailand'
 'Togo' 'Trinidad and Tobago' 'Turkey' 'Uganda' 'Ukraine' 'United Kingdom'
 'United States' 'Venezuela' 'Vietnam' 'Yemen' 'Yemen (Sanaa)' 'Zambia'
 'Zimbabwe']

In [38]:
month_unqie = get_unique_values(commodity_df['Month'])

3
[ 6 12  0]

In [39]:
attribute_description_unique = get_unique_values(commodity_df['Attribute_Description'])

19
['Arabica Production' 'Bean Exports' 'Bean Imports' 'Beginning Stocks'
 'Domestic Consumption' 'Ending Stocks' 'Exports' 'Imports'
 'Other Production' 'Production' 'Roast & Ground Exports'
 'Roast & Ground Imports' 'Robusta Production' 'Rst,Ground Dom. Consum'
 'Soluble Dom. Cons.' 'Soluble Exports' 'Soluble Imports'
 'Total Distribution' 'Total Supply']

In [40]:
market_year_unique = get_unique_values(commodity_df['Market_Year'])

64
[2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016
 2017 2018 2019 2020 2021 2022 2023 1961 1962 1963 1964 1965 1966 1967
 1968 1969 1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981
 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995
 1996 1997 1998 1999 2000 2001 2002 1960]

In [41]:
calendar_year_unique = get_unique_values(commodity_df['Calendar_Year'])

62
[2012 2015 2014 2016 2017 2018 2020 2021 2022 1960 1961 1962 1963 1964
 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975 1976 1977 1978
 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992
 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2010 2011 2019
 2007 2009 2008 2013 2006 1959]